[Desktop Entry]
Version=1.0
Type=Application
Name=Exorchy
GenericName=DOS game launcher
Comment=Browse, download and play the eXoDOS collection
Exec=exorchy
Icon=exorchy
Terminal=false
Categories=Game;Emulator;
Keywords=DOS;eXoDOS;DOSBox;retro;games;
StartupNotify=true
StartupWMClass=exorchy
